{% extends "base.html" %}

{% block content %}
<div style="text-align: center">
  <h2>Welcome to RelieveU where you can be one step closer to releif. Below is a list of locations available for relief.
    If you have a location available for relief, please add it below. </h2>
</div>

<h3>Locations</h3>
<a href="/locations/add" class="btn btn-success btn-sm">
  <i class="glyphicon glyphicon-plus"></i>
  Add Location
</a>

{% for location in locations %}
<div class="media">
  <a href="/locations/{{location.id}}">
    <div class="media-left">
      <img class="Location-image" style="max-width: 200px" src={{location.Pic}}>
    </div>
    <div class="media-body">
      <p></p>
      <p>Geograohic location: {{location.lat}}</p>
      <p>Address: {{location.Address}}</p>
      <p>Name: {{location.Name}}</p>
      <p>Rating: {{location.Rating}}/5</p>
      <p>Price: ${{location.Price}}</p>
    </div>
  </a>
</div>
{% else %}
<p>No Locations found</p>
{% endfor %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}